@page "{handler?}"
@model WebFrontend.Pages.AdminModel
@{
	ViewData["Title"] = "Admin";
	Layout = "Shared/_MainUI";
}
<div id="admin-container">
	<div class="admin-card">
		<div class="card-heading">Users</div>
		<table>
            <tr>
				<td>ID</td>
				<td>Name</td>
				<td>Email</td>
				<td>Action</td>
            </tr>
			@foreach (string[] user in Model.LocalList)
			{
				<tr>
					<td>  
						@user[0]
					</td>
					<td> 
						@user[1]
					</td>
					<td> 
						@user[2]
					</td>
					<td> 
						<form method="post">
							<input type="hidden" name="UserToDelete" value="@user[0]" />
							<button asp-page-handler="Delete" id="admin-btn">Delete</button>
						</form>
					</td>
				</tr>
			}
        </table>
	</div>
	<div class="admin-card">
	    <div class="card-heading">Stats</div>

	</div>	
	<div class="admin-card">
	    <div class="card-heading">Model Change</div>
		<form method="post" enctype="multipart/form-data">
			<!-- Have no idea what this does -->
			<label style="display: none" asp-for="UploadModel"></label>

			<!-- CHOOSE FILE BUTTON -->
			<input style="display: none" id="model-upload" class="inputfile" asp-for="UploadModel" type="file" />
			<label id="choose-model" for="model-upload">Choose a file</label>

			<!-- UPLOAD ERRORS, not tested -->
			<div><span class="upload-error" asp-validation-for="UploadModel"></span></div>

			<!-- UPLOAD BUTTON -->
			<input id="upload-model" asp-page-handler="UploadModel" type="submit" value="Upload" />
		</form>
	</div>
</div>

