@page
@model ProfileModel
@{
	Layout = "Shared/_MainUI";
	ViewData["Title"] = "Settings";
}
<div class="settings-container">
	<form method="post" enctype="multipart/form-data">
		<div class="formElement">
			<div class="formLabel"><label for="profileName">Name: </label></div>
			<div class="formInput"><input type="text" id="profileName" name="profileName"></div>
		</div>
		<div class="formElement">
			<div class="formLabel"><label for="profileEmail">Email: </label></div>
			<div class="formInput"><input type="text" id="profileEmail" name="profileEmail"></div>
		</div>
		<div class="formElement">
			<button id="save-button" type="submit">Save</button>
		</div>
	</form>
	<div class="settings-option">
		<div class="setting-heading">Change Theme</div>
		<div class="setting-content">
			<div class="switch-container">
				<input id="switchToggle" type="checkbox">
				<label for="switchToggle"></label>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// Colour Theme Toggle
// ------------------------------------------------------------------- //
let themeButton = document.getElementById("switchToggle");
// Set Toggle
document.addEventListener("DOMContentLoaded", () => {
	themeButton.checked = document.body.classList.contains("light") ? true : false;
});
// Toggle Colour
themeButton.addEventListener('click', (e) => {
	theme = e.target.checked ? "light" : "dark";
	localStorage.setItem('theme', theme);
	getTheme();
});
</script>