@page
@model DatabaseModel
@{
	Layout = "Shared/_MainUI";
	ViewData["Title"] = "Database";
}

<div id="reports-container">
	<div class="report-Element">
		<div class="report-preview">Scan #1</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
	<div class="report-Element">
		<div class="report-preview">Scan #2</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
	<div class="report-Element">
		<div class="report-preview">Scan #3</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>

	<div class="report-Element">
		<div class="report-preview">Scan #4</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
	<div class="report-Element">
		<div class="report-preview">Scan #5</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
	<div class="report-Element">
		<div class="report-preview">Scan #6</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>

	<div class="report-Element">
		<div class="report-preview">Scan #7</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
	<div class="report-Element">
		<div class="report-preview">Scan #8</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
	<div class="report-Element">
		<div class="report-preview">Scan #9</div>
		<div class="report-action">
			<div class="report-view"><button>View</button></div>
			<div class="report-download"><button>Download</button></div>
		</div>
	</div>
</div>
