@page
@model SettingsModel
@{
	Layout = "Shared/_MainUI";
	ViewData["Title"] = "Settings";
}
<div class="settings-container">
	<div class="settings-option">
		<div class="setting-heading">Change Theme</div>
		<div class="setting-content">
			<div class="switch-container">
				<input id="switchToggle" type="checkbox">
				<label for="switchToggle"></label>
			</div>
		</div>
	</div>

	<div class="settings-option">
		<div class="setting-heading">Upload New Model</div>
		<div class="setting-content">
			<form method="post" enctype="multipart/form-data">
				<label style="display: none" asp-for="FileUpload.UploadFile"></label>
				<input style="display: none" id="file-upload" class="inputfile" asp-for="FileUpload.UploadFile" type="file"/>
				<label class="choose-upload" for="file-upload">Choose a file</label>
				<div><span class="upload-error" asp-validation-for="FileUpload.UploadFile"></span></div>
				<input class="upload-button" type="submit" value="Upload"/>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
// Colour Theme Toggle
// ------------------------------------------------------------------- //
let themeButton = document.getElementById("switchToggle");
// Set Toggle
document.addEventListener("DOMContentLoaded", () => {
	themeButton.checked = document.body.classList.contains("light") ? true : false;
});
// Toggle Colour
themeButton.addEventListener('click', (e) => {
	theme = e.target.checked ? "light" : "dark";
	localStorage.setItem('theme', theme);
	getTheme();
});


// Choose File Display Text
// ------------------------------------------------------------------- //
var input = document.getElementById('FileUpload_UploadPublicSchedule');

var labelVal = document.getElementsByClassName('choose-upload')[0];

input.addEventListener('change', function( e )
{
	var fileName = e.target.value.split("\\").pop();
	labelVal.innerHTML = fileName;
});

</script>
