@page
@model SignupModel
@{
	ViewData["Title"] = "Signup";
	Layout = "Shared/_LoginUI";
}
@section scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
@section Styles{
	<link href="@Href("~/css/login.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
	
</div>
