p{
    font-weight:700;
}
button {
    height: 1.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #4bbdd9;
    border: none;
    color: white;
    text-transform: uppercase;
    line-height: 0;
    font-weight: 700;
    font-size: 12pt;
    margin-top:auto;
    margin-bottom:auto;
}
h2{
    text-align:center;
}
.container{
    align-content:center;
}
.container-module {
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    display: block;
    position: center;
    float: left;
    padding: 1rem;
    margin-bottom:1rem;
    border-color:#b5b5b5;
}
#container-user-list {
    width:60%;
    height:400px;
}
#container-statistic {
    width: 30%;
    height:400px;
    float:right;
}
#container-model{
    float:right;
    width:30%;
}
#model-display {
    text-align: center;
    margin-bottom: 3rem;
}
#model-name-header{
    display:block;
    float:left;
    margin-top:auto;
    margin-bottom:auto;
    width:35%;
}
#model-name{
    display:block;
    float:right;
    border:solid;
    margin-top:0.5rem;
    margin-bottom:auto;
    width:60%;
}
.btn-primary{
    display:block;
    float:right;
    margin-right:2.5rem;
}
#container-scan-activity {
    width:60%;
    text-align:left;
}
#module-scan-header{
    align-self:center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td{
    border: 1px solid #808080;
}
th {
    text-align:center;
}
td{
    text-align:center;
}
