*{
    box-sizing: border-box;
}
body {
    background:rgba(0,0,0,0.25);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 200vh;
    margin: -20px 0 50px;
}
h1{
    font-weight:bold;
    margin:0;
}
p{
    font-size:14px;
    font-weight:100;
    line-height:20px;
    letter-spacing:0.5px;
    margin:20px 0 30px;
}
span{
    font-size:12px;
}
.container {
    align-content: center;
    position: relative;
}
.form-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: center;
    height: 100%;
    align-content: center;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color:#333;
    font-size:14px;
    text-decoration:none;
    margin:15px;
}

.card{
    margin-top: auto;
    margin-bottom:auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-header h3{
    color: white;
}

.card label {
    color: white;
}